<div class="logout-button-container">
    <a href="@Url.Action("Logout", "Auth", new { area = "" })"><button type="button" class="btn btn-danger btn-xs">Выйти из админки</button></a>
    <a href="@Url.Action("Index", "Home", new { area = "" })"><button type="button" class="btn btn-info  btn-xs">На сайт</button></a>
</div>
