@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script type="text/javascript">
        (function (gb, a9) {
            var settings = gb.settings,
                    dataModels = settings.dataModels;
            @Html.Raw(ViewBag.BlogDetails);
        }(GB, A9));
    </script>
}
<div class="page">
    <div id="blogDetails"></div>
</div>