@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script type="text/javascript">
        (function (nv, a9) {
            var settings = nv.settings,
                    dataModels = settings.dataModels;
            @Html.Raw(ViewBag.MainPage);
        }(NV, A9));
    </script>
}
<div class="page main-page">
    <div id="mainPage"></div>
</div>